html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root, #app-container {
  min-height: 100vh;
  position: relative;
}

.unclickable {
  pointer-events: none;
}

.is-full-width {
  width: 100%;
}

.not-vertically-scrollable {
  overflow-y: hidden;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  border-radius: 50%;
}

.tag.is-medium {
  white-space: normal;
  height: 3.5em;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #07d;
  animation: spinner .8s linear infinite;
}

.stopwatch-circle {
  border: 2px solid;
  width: 125px;
  height: 125px;
}

.chat-interface {
  position: fixed;
  top: 64px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.chat-messages {
  overflow-y: scroll;
  height: calc(100% - 225px);
}

.close-chat-interface {
  position: absolute;
  right: 10px;
  top: 0px;
}

.segment-position {
  position: absolute;
  right: 8px;
  top: 8px;
}

#mobile-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
