html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root, #app-container {
  min-height: 100vh;
  position: relative;
}

.unclickable {
  pointer-events: none;
}

.is-full-width {
  width: 100%;
}

.not-vertically-scrollable {
  overflow-y: hidden;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.circle {
  border-radius: 50%;
}

.stopwatch-circle {
  border: 2px solid;
  width: 250px;
  height: 250px;
}

.chat-interface {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.chat-messages {
  overflow-y: scroll;
  height: 40vh;
}

.close-chat-interface {
  position: absolute;
  right: 10px;
  top: 0px;
}
