html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.unclickable {
  pointer-events: none;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
